<awr-user-dialog title="Register">
  <form [formGroup]="register" class="content">
    <md-form-field>
      <input
        mdInput
        formControlName="email"
        placeholder="Email address">
      <md-error
        *ngIf="register.controls.email.hasError('emailTaken')">
        Unfortunatelly the Email address is already taken.
      </md-error>
    </md-form-field>
    <awr-password-inputs
      formControlName="password">
    </awr-password-inputs>
  </form>
  <div class="actions">
    <button
      md-raised-button
      (click)="registerUser()"
      [disabled]="register.invalid"
      color="primary">Register</button>
  </div>
</awr-user-dialog>
