<awr-user-dialog title="Login">
  <form class="content" [formGroup]="login">
    <md-form-field>
      <input
        mdInput
        formControlName="email"
        type="text"
        placeholder="Email-Adresse">
      <md-error *ngIf="login.controls.email.hasError('required')">
        Bitte vergessen Sie Ihre E-Mail-Adresse nicht.
      </md-error>
    </md-form-field>
    <md-form-field>
      <input
        mdInput
        formControlName="password"
        type="password"
        placeholder="Passwort">
    </md-form-field>
  </form>
  <div class="actions">
    <button
      (click)="submitCredentials()"
      [disabled]="login.invalid"
      md-raised-button color="primary">
      Login
    </button>
  </div>
</awr-user-dialog>
